<!DOCTYPE html>
<html>
  <head>
    <title><%=title%></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%=title%></h1>
    <h4><%=articleTitle%></h4>
    <p><%=content%></p>

    <form  action="/articles/send" method="post">
    <p>標題</p>
    <input type="text" id="articleTitle" name="articleTitle" />
      <p>內文</p>
      <textarea id="content" name="content" rows="15" cols="50"></textarea>
      <p>作者：<%=author%> </p>
      <input type="submit" value="送出">
    </form>
    <br/>
    <a href="/">回首頁<a>
  </body>
</html>
